*{
	font-family: 'Montserrat', sans-serif;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color:inherit;
}

.logo{
	height: 3rem;
	width: 3rem;
	text-align: center;
	margin: 0 auto;
}

.top{
	display: grid;
	grid-template-columns: 1fr 1fr 3fr 4fr;
	margin-right: 1em;
}

.dropdown{
	display: none;
}


.search{
	background-image: url('/img/search.png');
	background-repeat: no-repeat;
	background-size: 1em;
	background-position: 0.5em 0.7em;
	grid-column: 2/4;
	font-size: 1.2em;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 1px 1px lightgray;
	padding-left: 2em;
}
.topbar{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	font-size: 0.7em;
	padding-right:2em;
	text-align: center;
}

.menu{
	display: none;
}

.filter{
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	display: inline-block;
	margin: 1em 0;
	padding: 1em 0;
	width:100%;
}

.btnactive{
	border: 1px solid lightgray;
	background-color: darkcyan;
	border-radius: 0.25em;
	color: white;
	font-size: 1em;
	line-height: 2em;
	margin: 0.2em;
	padding: 0 0.5em;
}

.btnreguler{
	border: 1px solid lightgray;
	background-color: white;
	border-radius: 0.25em;
	color: black;
	font-size: 1em;
	line-height: 2em;
	margin: 0.2em;
	padding: 0 0.5em;
}

header{
	position: fixed;
	top:0;
	left:0;
	width:100vw;
	background-color: white;
	z-index: 2;
	padding: 1em 1em 0 1em;
}

body{
	padding-top:11em;
}

.note{
	font-size:1em;
	color:black;
	padding: 0 0 1em 1em;
	margin: 0 1em 1em 1em;
	border-bottom: 1px solid lightgray;
}

h1{
	font-size: 1.5em;
	margin:2em 1em 1em 1em;
	padding-left: 1em;
}

.item{
	border: 1px solid lightgray;
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 1em;
	padding: 0.2em;
	

}


.item>img{
	height:300px;
	width:400px;
	padding: 0.2em;
	border: 1px solid lightgray;

}

.item h3{
	color: gray;
	font-size: 1em;
	padding:0.7em;
}

.item h2{
	font-size: 1.5em;
	line-height: 1.5em;
	padding-left:0.5em;
	margin: 0em;
}

.price>h3{
	padding: 0;
	margin: 0;
}

.item p{
	color:gray;
	font-size: 0.8em;
	padding: 1em;
}

.price>p{
	padding:0;
}

.box{
	position: relative;
}

.heart{
	position: absolute;
	top:0;
	right:0;
	margin-right: 1em;
	margin-top: 1em;
	height: 2em;
	width: 2em;
	border: none;
}

.heartred{
	height:3em;
	width: 3em;
	margin-top:0.5em;
	margin-right:0.5em;

}
.price{
	position: absolute;
	bottom:0;
	right:0;
	text-align: right;
	margin-right:1em;
}

.price h2{
	font-size:1em;
}

.rate{
	position: absolute;
	bottom:0;
	left:0;
}

strong{
	color: black;
}

.navi{
	margin: 1em;

}

.pagination{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 400px;
	margin: 0 auto;
	align-items: center;
	position: relative;
	
}

.dot1{
	height: 25px;
  width: 25px;
  background-color: darkcyan;
  border-radius: 50%;
	display: inline-block;
	text-align: center;
	position: relative;
	
}

.dot2{
	height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
	display: inline-block;
	text-align: center;
	position: relative;
	border: 1px solid darkcyan;

}

.liactive{
	color: white;
	text-align: center;
	padding: 0.5em 0 0 0;
}

.liregular{
	color: darkcyan;
	text-align: center;
	padding: 0.5em 0 0 0;

}

.anna{
border-top:1px solid lightgray;
text-align: center;
color: darkgray;
font-size:1em;
padding:1em;

}

.foot{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	color: darkgray;
	border-bottom: 1px solid lightgray;
}

.lititle{
	color: black;
	font-size:1em;
	margin:1em 0;
}

.copyright{
	color: darkgray;
	font-size: 0.8em;
	padding: 1em 1em 1em 3em;
}


@media (max-width: 768px){

	body{
		padding-top: 12em;
	}
	.top{
		display: grid;
		grid-template-columns: 1fr 1fr 10fr;
	}

	.dropdown{
		display: inline-block;
		height: 20px;
		width:20px;
		margin:auto 0;
	}


	.topbar{
		display: none;
	}

	.search{
		font-size: 1em;
		width: 70%;
		max-width: 400px;
		background-position: 0.5em 1em;
		grid-column: 3/4;
	}


	.menu{
		display: inline-block;
		position: relative;
		padding:0 1em;
		margin: 0;
		z-index: 2;
		line-height: 0.6em;
		
	}

	.menu li{
		line-height: 2em;
		margin: 1em 0;
		color: black;
	}

	#btn4, #btn5{
		display: none;
	}

	.item{
		display: block;
		position: relative;

	}
	.item>img{
		width: 100%;
		height:100%;
		padding: 0 auto;
		border: none;
	}

	.heart{
		
		position: absolute;
		right: 0;
		top: -1em;
	} 

	.rate{
		display: inline;
		position: relative;
	}

	.price{
		display: flex;	
		position: relative;
		text-align: left;
		line-height: 1em;
		margin-left:0.7em;
	}

	.price>h3{
		font-size:0.5em;
	}

	.price>p{
		margin: 1.7em 0 0 1em;
	}


}

@media (max-width: 460px){
	#btn3{
		display: none;
	}

	.note{
		font-size: 0.7em;
	}
	
}




